.header_container{
    background-color: #AB6BF2;
    width: 100%;
    height: fit-content;
    margin: 0;
    display: flex;
    .header_options_container{
        width: 80%;
        display: flex;
        justify-content: right;
        .header_options{
            display: flex;
            align-items: center;
            color: white;
            font-weight: 600;
            padding-right: 20px;
            cursor: pointer;
            .header_option_link{
                text-decoration: none;
                color: #40591c;
                background-color: #d2f79c;
                border: 2px solid #d2f79c;
                padding: 5px;
                border-radius: 6px;
                margin: 5px 0px;
            }
            .header_option_link:hover{
                text-decoration: none;
                background-color: #b8d887;
                border: 2px solid #b8d887;
            }
        }
    }
    .header_logo{
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 20px;
        img{
            border: 0px solid rgb(166, 245, 120);
            padding: 6px;
            border-radius: 6px;
            margin: 5px 0px;
        }
    }

}