.story_item_container{
    border:1px solid rgb(222, 222, 222);
    padding: 10px;
    border-radius: 6px;
    display: flex;
    margin-bottom: 10px;
}
.story_item_container:hover{
    border: 1px solid rgb(184, 184, 184);
    cursor: pointer;
}
.story_item_inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.empty_image_mystories{
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 5px;
    width: 100px;
    background-color: rgb(233, 232, 232);
    border-radius: 4px;
    margin: 5px;
    height: calc(100% - 10px);
    margin-right: 10px;
  }